* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow: hidden;
    background-color: #0E1525;
    color: white;
    height: 100vh;
    width: 100vw;
}

.logo {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 9vh;
    width: 100%;
    background-color: #162836;
    position: relative;
}

.logo h1 {
    font-family: 'Courier New';
    left: 55px;
    font-size: 1.2rem;
}

#logo {
    height: 9vh;
    width: 100px;
}

.main {
    display: flex;
}

.left {
    height: 91vh;
    width: 45vw;
    background-color: #151D2D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right {
    height: 91vh;
    width: 55vw;
    background-color: #0E1525;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.leftContent {
    gap: 25px;
    width: fit-content;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.rightContent {
    gap: 25px;
    width: fit-content;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.left h2 {
    text-align: left;
    margin-bottom: 20px;
}

.inputs {
    border: 1px solid #4E5569;
    background-color: #1C2333;
    border-radius: 6px;
    padding-left: 10px;
    color: #9DA2A6;
    height: 35px;
    width: 300px;
}

.inputs::placeholder {
    color: #9DA2A6;
}

i {
    background: #C2C8CC;
    color: black;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.login {
    font-size: 1.2rem;
    background-color: #1851a1;
    color: white;
    border: none;
}